import net.jini.jeri.ssl.SslServerEndpoint;
import com.sun.jini.reggie.RegistrarPermission;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import org.mca.util.MCAUtils;
import net.jini.lookup.entry.Name;
import net.jini.core.entry.Entry;
import net.jini.core.discovery.LookupLocator;
import net.jini.core.constraint.Integrity;

com.sun.jini.reggie {
	initialUnicastDiscoveryPort = 4161;

	unicastDiscoveryHost = MCAUtils.getIP();

	private serviceEndpoint = SslServerEndpoint.getInstance(MCAUtils.getIP(),0);
	
	serverExporter = new BasicJeriExporter(serviceEndpoint, serviceILFactory);
	
   	private serviceConstraints = 
		new BasicMethodConstraints(
			new InvocationConstraints(
			new InvocationConstraint[]{Integrity.YES}, null
		)
	    );

    	private serviceILFactory =
		new BasicILFactory(serviceConstraints,
                               RegistrarPermission.class);
	
	initialLookupAttributes = new Entry[]{new Name("MCA Worker Lookup")};
	initialMemberGroups = new String[]{"MCA","Workers"};
}
