import net.jini.jeri.ssl.SslServerEndpoint;
import com.sun.jini.reggie.RegistrarPermission;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import org.mca.util.MCAUtils;
import net.jini.lookup.entry.Name;
import net.jini.core.entry.Entry;
import net.jini.core.discovery.LookupLocator;
import net.jini.core.constraint.Integrity;
import javax.security.auth.login.LoginContext;
import org.mca.security.MCASpacePermission;

org.mca.server {

	loginContext = new LoginContext("org.mca.Server");
	
	private serviceEndpoint = SslServerEndpoint.getInstance(0);
	
	serverExporter = new BasicJeriExporter(serviceEndpoint, serviceILFactory);
	
   	private serviceConstraints = 
		new BasicMethodConstraints(
			new InvocationConstraints(
			new InvocationConstraint[]{Integrity.YES}, null
		)
	    );

    	private serviceILFactory =
		new BasicILFactory(serviceConstraints,
                               MCASpacePermission.class);
	
}
