import net.jini.jeri.BasicJeriExporter;
import org.mca.util.MCAUtils;
import javax.security.auth.login.LoginContext;
import org.mca.security.MCASpacePermission;
import com.sun.jini.outrigger.OutriggerPermission;
import com.sun.jini.reggie.RegistrarPermission;
import net.jini.lookup.entry.Name;
import net.jini.core.entry.Entry;

com.sun.jini.reggie {

	loginContext = new LoginContext("org.mca.security.MCA");
	initialUnicastDiscoveryPort = 4160;
	unicastDiscoveryHost = MCAUtils.getIP();
	minMaxServiceLease = 31536000000000l;
	serverExporter = MCAUtils.getServiceExporter(RegistrarPermission.class);
	multicastAnnouncementInterval = 10000;
	initialLookupAttributes = new Entry[]{new Name("MCA Server Lookup")};
	initialMemberGroups = new String[]{"MCA","Servers"};	
}

com.sun.jini.mahalo {
	loginContext = new LoginContext("org.mca.security.MCA");
	initialLookupAttributes = new Entry[]{new Name("Transaction Manager")};
	initialLookupGroups = new String[]{"Servers"};
	serverExporter = MCAUtils.getServiceExporter(null);	
}

com.sun.jini.outrigger {
	loginContext = new LoginContext("org.mca.security.MCA");
	serverExporter = MCAUtils.getServiceExporter(OutriggerPermission.class);
	initialLookupGroups = new String[]{"Servers"};
	takeMultipleLimit = 10000;
}

org.mca.server.MCASpaceServer {
	loginContext = new LoginContext("org.mca.security.MCA");
	serverExporter = MCAUtils.getServiceExporter(MCASpacePermission.class);
}
