import net.jini.lookup.entry.Name;
import net.jini.core.entry.Entry;
import net.jini.core.discovery.LookupLocator;
import javax.security.auth.login.LoginContext;



com.sun.jini.mahalo {

	loginContext = new LoginContext("org.mca.Server");
	initialLookupAttributes = new Entry[]{new Name("Transaction Manager")};

	
	initialLookupGroups = new String[]{"Servers"};
	
	
}
