import org.mca.server.space.store.MCAStore;
import org.mca.javaspace.MCATaskManager;
import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import org.mca.util.MCAUtils;
import net.jini.lookup.entry.Name;
import net.jini.core.entry.Entry;
import net.jini.core.discovery.LookupLocator;

com.sun.jini.outrigger {
    store = new MCAStore(this);
    serverExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(MCAUtils.getIP(),0),new BasicILFactory());
	initialLookupAttributes = new Entry[]{new Name("MCASpace")};
}