import org.mca.server.space.store.MCAStore;
import net.jini.jeri.ssl.SslServerEndpoint;
import com.sun.jini.reggie.RegistrarPermission;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import org.mca.util.MCAUtils;
import net.jini.core.constraint.Integrity;
import com.sun.jini.outrigger.OutriggerPermission;

com.sun.jini.outrigger {
   	store = new MCAStore(this);

	private serviceEndpoint = SslServerEndpoint.getInstance(0);
	
	serverExporter = new BasicJeriExporter(serviceEndpoint, serviceILFactory);
	private serviceConstraints = 
		new BasicMethodConstraints(
			new InvocationConstraints(
			new InvocationConstraint[]{Integrity.YES}, null
		)
	    );

    	private serviceILFactory =
		new BasicILFactory(serviceConstraints,
                               OutriggerPermission.class);

	initialLookupGroups = new String[]{"Servers"};
}
