import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import org.mca.util.MCAUtils;
import net.jini.lookup.entry.Name;
import net.jini.core.entry.Entry;
import net.jini.core.discovery.LookupLocator;

com.sun.jini.reggie {
	minMaxServiceLease = 216000000L;
	serverExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(MCAUtils.getIP(),0),new BasicILFactory());
	initialLookupAttributes = new Entry[]{new Name("Registrar")};
	initialLookupLocators = new LookupLocator[]{new LookupLocator("jini://localhost")};
}