/* Keystore containing trusted certificates to use for authentication */
keystore "file:${mca.home}/conf/security/keystore.server";

grant {
	permission java.net.SocketPermission "*","connect,accept,resolve";

	permission java.lang.RuntimePermission "createSecurityManager" ;
	permission java.lang.RuntimePermission "modifyThreadGroup" ;
	permission java.lang.RuntimePermission "getProtectionDomain";
	permission java.lang.RuntimePermission "getClassLoader";
	permission java.lang.RuntimePermission "modifyThread";
	permission java.lang.RuntimePermission "setContextClassLoader";
	permission java.lang.RuntimePermission "createClassLoader";
	permission java.lang.RuntimePermission "accessClassInPackage.*";
	permission java.lang.RuntimePermission "setSecurityManager";	
	permission java.lang.RuntimePermission "accessDeclaredMembers";

	permission com.sun.jini.thread.ThreadPoolPermission "getSystemThreadPool";
	permission com.sun.jini.thread.ThreadPoolPermission "getUserThreadPool";
	
	permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
	
	permission java.security.SecurityPermission "getDomainCombiner";
	permission java.security.SecurityPermission "createAccessControlContext";
	permission java.security.SecurityPermission "getPolicy";
	permission java.security.SecurityPermission "setPolicy";
	permission java.security.SecurityPermission "getProperty.*";
	
	permission javax.security.auth.AuthPermission "createLoginContext.*";
	permission javax.security.auth.AuthPermission "doAsPrivileged";
	permission javax.security.auth.AuthPermission "getSubject";
	
	permission javax.security.auth.PrivateCredentialPermission 
		"javax.security.auth.x500.X500PrivateCredential javax.security.auth.x500.X500Principal \"*\"","read";
		
	permission net.jini.security.GrantPermission "java.security.AllPermission \"<all permissions>\", \"<all actions>\"";
	permission net.jini.security.AuthenticationPermission "javax.security.auth.x500.X500Principal \"*\"","listen";
	
	permission net.jini.security.AuthenticationPermission 
		"javax.security.auth.x500.X500Principal \"*\" javax.security.auth.x500.X500Principal \"*\" ","connect,accept";
		
	permission com.sun.jini.discovery.internal.EndpointInternalsPermission "set";
	permission net.jini.export.ExportPermission "*";
	
	permission net.jini.io.context.ContextPermission "net.jini.io.context.ClientSubject.getClientSubject";

	permission java.util.PropertyPermission "mca.home","read";
	permission java.util.PropertyPermission "org.apache.commons.logging.LogFactory.HashtableImpl","read";
	permission java.util.PropertyPermission "java.security.policy","read,write";
	permission java.util.PropertyPermission "jmx.remote.jndi.rebind","read";
	permission java.util.PropertyPermission "java.naming.factory.initial","read";
	permission java.util.PropertyPermission "java.naming.*","read";
	permission java.util.PropertyPermission "java.rmi.server.codebase","write,read";

	permission java.io.FilePermission "${mca.home}/lib","read";
	permission java.io.FilePermission "${mca.home}/lib/*","read";
	permission java.io.FilePermission "${mca.home}/conf/-","read";
	permission java.io.FilePermission "${mca.home}/data/*","read,write";
	permission java.io.FilePermission "${mca.home}/codebase/*","read";
	permission java.io.FilePermission "${mca.home}/codebase","read";
	permission java.io.FilePermission "${mca.home}/work/-","read,write,delete";
	permission java.io.FilePermission "${mca.home}/cases/-","read,write,delete";

	permission javax.management.MBeanServerPermission "createMBeanServer";
	permission javax.management.MBeanPermission "*","registerMBean";
	permission javax.management.MBeanTrustPermission "register";

	permission net.jini.discovery.DiscoveryPermission "*";
};

grant principal "server"{
	permission com.sun.jini.reggie.RegistrarPermission "lookup";
	permission com.sun.jini.reggie.RegistrarPermission "register";
	permission com.sun.jini.reggie.RegistrarPermission "notify";
	permission com.sun.jini.reggie.RegistrarPermission "addAttributes";
	permission com.sun.jini.reggie.RegistrarPermission "renewServiceLease";	
	permission com.sun.jini.outrigger.OutriggerPermission "*";
};

grant principal "master"{
	permission com.sun.jini.reggie.RegistrarPermission "lookup";
	permission com.sun.jini.reggie.RegistrarPermission "register";
	permission org.mca.security.MCASpacePermission "addCase";
	permission org.mca.security.MCASpacePermission "removeCase";
	permission com.sun.jini.reggie.RegistrarPermission "register";
	permission com.sun.jini.outrigger.OutriggerPermission "write";
	permission com.sun.jini.outrigger.OutriggerPermission "read";
	permission com.sun.jini.outrigger.OutriggerPermission "take";
	permission com.sun.jini.outrigger.OutriggerPermission "getAdmin";
	permission com.sun.jini.outrigger.OutriggerPermission "contents";
	permission com.sun.jini.outrigger.OutriggerPermission "registerForAvailabilityEvent";
};

grant principal "worker"{
	permission com.sun.jini.reggie.RegistrarPermission "lookup";
		permission com.sun.jini.reggie.RegistrarPermission "register";
	permission com.sun.jini.reggie.RegistrarPermission "notify";
	permission com.sun.jini.reggie.RegistrarPermission "getLocator";
	permission com.sun.jini.reggie.RegistrarPermission "renewEventLease";
	permission org.mca.security.MCASpacePermission "register";
	permission org.mca.security.MCASpacePermission "getCase";
	permission com.sun.jini.outrigger.OutriggerPermission "write";
	permission com.sun.jini.outrigger.OutriggerPermission "read";
	permission com.sun.jini.outrigger.OutriggerPermission "take";
	permission com.sun.jini.outrigger.OutriggerPermission "registerForAvailabilityEvent";	
	permission com.sun.jini.outrigger.OutriggerPermission "getAdmin";
	permission com.sun.jini.outrigger.OutriggerPermission "contents";
};

grant principal "admin"{
	permission com.sun.jini.reggie.RegistrarPermission "*";
};







